version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:         # Baca .env di root
      - .env
    environment:      # Ambil variabel dari .env
      - REDIS_URL=${REDIS_URL} 
    depends_on:
      - redis

  worker:
    build: ./backend
    command: celery -A tasks worker --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
      - REDIS_URL=${REDIS_URL}
    depends_on:
      - redis

  frontend:
    image: nginx:alpine
    ports:
      - "3000:80"  # Akses melalui http://localhost:3000
    volumes:
      - ./frontend:/usr/share/nginx/html